<!DOCTYPE html>
<html>
<head>
	<title>AJAX Testing</title>

	<!-- Latest compiled and minified CSS -->
    <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

</head>

<body>
    <div class="container">
        <h1> AJAX testing </h1>
        <br><br><br><br>

        <button id='btn_1' type="button" >Click Me!</button>

        <br><br><br><br>
        <p id="msg_1"> Message Here</p>
    </div>
</body>
</html>


<script>
    $(document).ready(function(){
    {#alert("doc ready .. ");#}
    {#location.reload(true);#}

     $("#btn_1").click(function(){
        {#alert("btn_1 clicked .. ");#}
        process_ss('get_sheet_data',3);
        {#process_ss('delete_sheet',3);#}
        {#process_ss('create_sheet',3);#}
        {#process_ss('add_rows',3);#}
     });
    });

    function process_ss(process_req,query_level) {
        $.ajax({
            type: "POST",
            url: "/process",
            contentType: "text/json; charset=utf-8",
            data: JSON.stringify(process_req),
            success: function (data) {
                $('#msg_1').html(data.result.sheet_name+'  is Updated !');
            }
        });
    }

</script>